<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd ">
    <context:component-scan base-package="com.ass.*" >
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- spring 整合myBatis框架-->
    <!-- 配置连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/im?serverTimezone=GMT" />
        <property name="user" value="root" />
        <property name="password" value="123ass" />
    </bean>
    <!-- 配置sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!-- 配置UserDao所在包-->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ass.dao"> </property>
    </bean>
    <mvc:resources mapping="data/**" location="data/"></mvc:resources>
    <mvc:resources mapping="themes/**" location="themes/"></mvc:resources>
    <mvc:resources mapping="user/**" location="user/"></mvc:resources>
    <mvc:resources mapping="admin/**" location="admin/"></mvc:resources>
    <mvc:resources mapping="plugins/**" location="plugins/"></mvc:resources>
    <mvc:resources mapping="js/**" location="js/"></mvc:resources>
    <mvc:resources mapping="css/**" location="css/"></mvc:resources>
</beans>
